<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <title>Study Piggy</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
    <link rel='stylesheet' href='style.css'>
  </head>

  <body id='app'>

    <!-- Text Editor Template -->
    <script id='noteEditorTemplate' type='text/template'>
      <div class='col col-9'>
        <div id='noteTitle' class='h3 mb2 bold' data-ph='Start note taking...' contentEditable='true'><%= title %></div>
        <div id='noteFolder' class='mb3 small-caps' data-ph='Enter the folder name' contentEditable='true'><%= folder %></div>
      </div>
      <div class='col col-3'>
        <div class='right block'>
          <button id='save' class='bg-transparent mid-gray'>
            <svg width='16px' height='16px' viewBox="0 0 32 32" style="fill:currentcolor"><path d="M2 18 L30 2 L14 30 L14 18z "></path></svg>
          </button>
          <button id='delete' class='bg-transparent mid-gray'>
            <svg width='16px' height='16px' viewBox="0 0 32 32" style="fill:currentcolor"><path d="M4 4 L10 4 L12 2 L20 2 L22 4 L28 4 L29 8 L3 8 z M5 10 L27 10 L26 30 L6 30 z  "></path></svg>
          </button>
          <button id='speedread' class='bg-transparent mid-gray'>
            <svg width='16px' height='16px' viewBox="0 0 32 32" style="fill:currentcolor"><path d="M16 0 A16 16 0 0 0 0 16 A16 16 0 0 0 16 32 A16 16 0 0 0 32 16 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 28 16 A12 12 0 0 1 16 28 A12 12 0 0 1 4 16 A12 12 0 0 1 16 4 M14 6 L14 17.25 L22 22 L24.25 18.5 L18 14.75 L18 6z "></path></svg>
          </button>
        </div>
      </div>
      <div class='cf'></div>
      <div id='noteContent' data-ph='Start note taking...' contentEditable='true'><%= content %></div>
      <div id='overlay' class='overlay'></div>
      <div id='dialog' class='dialog'>
        <h3 class='h3 center light'>Now speedreading:</h3>
        <h1 class='h1 center light'><%= title %></h1>
      </div>
    </script>

    <!-- Text Editor Section -->
    <div id='noteEditor' class='z1 absolute top-0 left-0 bottom-0 right-offset m4 overflow-auto'>
    </div>
    <!-- /Text Editor Section -->

    <!-- Sidebar -->
    <div class='z1 absolute sidebar top-0 bottom-0 right-0 overflow-auto bg-silver bll'>

      <!-- Account: Signed Out -->
      <script id='accountSignedOut' type='text/template'>
        <span class='left'>
          <h5 class='m0 py2 small-caps btd'>Sign in to StudyPiggy</h5>
        </span>
        <span class='right'>
          <h5 class='m0 py2 small-caps light light-gray'>Forgot password?</h5> 
        </span>
        <div class='cf'></div>
        <form class='signInForm fieldset-reset'>
          <input id='username' class='block full-width' type='email' placeholder='Email' />
          <input id='password' class='block full-width' type='password' placeholder='Password' />
          <input id='signin' class='button full-width bg-silver small-caps regular blue black-h center' type='submit' value='Sign In' />
        </form>
      </script>
      <!-- /Account: Signed Out -->

      <!-- Account: Signed In -->
      <script id='accountSignedIn' type='text/template'>
        <span class='left'>
          <h5 class='m0 py2 small-caps btd'>Welcome, <%= username %></h5>
        </span>
        <span class='right'>
          <button id='signout' class='h5 bg-silver m0 px0 py2 small-caps light light-gray'>Sign Out</button> 
        </span>
        <div class='cf'></div>
      </script>
      <!-- /Account: Signed in -->

      <!-- Account -->
      <div id='account' class='signInPage ml2 mr2 mt2 btl'></div>
      <!-- /Account -->

      <!-- Notes -->
      <div class='ml2 mr2 mt3 mb2 btl'>
        <span class='left'>
          <h5 class='m0 py2 small-caps btd'>Your Notes</h5>
        </span>
        <span class='right'>
          <h5 class='inline-block m0 py2 small-caps light blue'>
            <a href='#notes/new'>New</a>
          </h5>
        </span>
        <div class='cf'></div>

        <!-- Notes List -->
        <ul id='noteList' class='list-reset'>

          <!-- Template for a single note -->
          <script id='noteTemplate' type='text/template'>
            <li class='mb2'>
              <a href='#notes/<%= id %>' class='h5 ml2 light-gray light'><%= title %></a>
            </li>
          </script>
          <!-- /Template for a single note -->

        </ul>
        <!-- /Notes List -->

      </div>
      <!-- /Notes -->

      <!-- Editor Buttons -->
        <div class='ml2 mr2 mt3 btl'>
          <span class='left'>
            <h5 class='m0 py2 small-caps btd'>Editor</h5>
          </span>
          <div class='cf'></div>
          <button class='bg-silver bold w20'>
            <svg width="16px" height='16px' viewBox="0 0 32 32">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g font-size="32" font-family="Playfair Display" fill="#333333" font-weight="bold">
                        <text>
                            <tspan x="6" y="27">B</tspan>
                        </text>
                    </g>
                </g>
            </svg>
          </button>
          <button class='bg-silver italic w20'>
            <svg width="16px" height='16px' viewBox="0 0 32 32">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g font-size="32" font-family="Playfair Display" fill="#333333" font-weight="normal">
                        <text>
                            <tspan x="6" y="27">I</tspan>
                        </text>
                    </g>
                </g>
            </svg>
          </button>
          <button class='bg-silver regular w20'>
              <svg width="16px" height="16px" viewBox="0 0 32 32" >
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g font-family="Roboto" fill="#333333" font-weight="normal">
                          <text font-size="32">
                              <tspan x="2" y="27">T</tspan>
                          </text>
                          <text font-size="20">
                              <tspan x="16" y="27">T</tspan>
                          </text>
                      </g>
                  </g>
              </svg>
          </button>
        </div>
      <!-- /Editor Buttons -->

    </div>
    <!-- /Sidebar -->

  <!-- Scripts -->
  <script src='backbone.js'></script>
  <script src='models/note.js'></script>
  <script src='collections/notes.js'></script>
  <script src='views/loginview.js'></script>
  <script src='views/noteview.js'></script>
  <script src='views/appview.js'></script>
  <script src='views/noteeditorview.js'></script>
  <script src='routers/router.js'></script>
  <script src='app.js'></script>
  </body>
</html>
