section.page.pageTwo
  h2 Simple Page Example

  #wrapper
    h1 Off Canvas Menu
    .mobile
      input(type='checkbox', id='tm')
      ul.sidenav
        li
          a(href='#')
            i.fa.fa-check
              b Tasks
        li
          a(href='#')
            i.fa.fa-inbox
              b Inbox
        li
          a(href='#')
            i.fa.fa-pencil
              b New Note
        li
          a(href='#')
            i.fa.fa-cog
              b Settings
        li
          a(href='#')
            i.fa.fa-power-off
              b Log Off
      section
        label(for='tm') Click Me