body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Course Notes
      ul.nav.navbar-nav
        li
            a(href="/") home
          li
            a(href="/collections") collection demo
          li
            a(href="/info") Editor
  .container
    main(data-hook="page-container")
