<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="speedstudy.speedstudy" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".GlobalApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Study Piggy"
        android:theme="@style/CustomActionBarTheme" >
        <receiver android:name=".StartNotification" >
            <intent-filter>
                <action android:name="broadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".SpeedReader"
            android:label="@string/title_activity_speed_reader"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".LocalFilesBrowser"
            android:label="@string/title_activity_local_files_browser"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".DisplayDocument"
            android:label="@string/title_activity_display_document" >
        </activity>
        <activity
            android:name=".AppLaunch"
            android:label="@string/title_activity_app_launch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="@string/title_activity_login_screen" >
        </activity>
        <activity
            android:name=".DocumentLoader"
            android:label="@string/title_activity_document_loader"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".CardTypeOne"
            android:label="@string/title_activity_card_type_one" >
        </activity>
        <activity
            android:name=".CardTypeTwo"
            android:label="@string/title_activity_card_type_two"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".MainLoader"
            android:label="@string/title_activity_main_loader" >
        </activity>
    </application>

</manifest>
