extends layout

block body
  div(ng-controller='SidebarCtrl')
    aside.col.col-3
      header
        h1.h3.caps.center.regular.m0.py2.bg-blk0.lg1 Account
          svg(width='16', height='16', viewbox='0 0 32 32', fill='#f5f5f5')
            path(d='M4 8 H28 L16 26 z ')
      nav
        a.h5.bg-red.lg1.p1.block(href='#') History 
          svg(width='12', height='12', viewbox='0 0 32 32', fill='#f5f5f5')
            path(d='M4 8 H28 L16 26 z ')
  div(ng-controller='AppCtrl')
    main.col.col-9
      h2 Hello {{name}}
      ul.menu
        li
          a(href='view1') view1
        li
          a(href='view2') view2

      div(ng-view)

      div
        | Angular seed app: v
        span(app-version)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
