extends layout

block body
  div(ng-controller='SidebarCtrl')

    //- Sidebar View
    aside.col.col-3.h100.bg-blk0
      header.relative.z4
        a.h3.caps.center.regular.m0.py2.block.bg-blk0.bg-blk1-h.lg1(ng-click='showAccount = !showAccount') Account
          svg(width='16', height='16', viewbox='0 0 32 32', fill='#f5f5f5')
            path(d='M4 8 H28 L16 26 z ')

      //- Sign In View
      div.slide-in.bg-blk2relative.z1(ng-show='showAccount', id='account')
        h4.mt0.py1.regular.center.caps.lg1 Sign in
        form
          div.ml1.mr1
            input.fieldset-reset.full-width.bg-gray0.lg1(type='email', placeholder='Email')
          div.ml1.mr1
            input.fieldset-reset.full-width.bg-gray0.lg1(type='password', placeholder='Password')
          div.ml1.mr1
            input.fieldset-reset.full-width.mx-auto.mb2.button.bg-gray0.bg-gray1-h.lg1(type='submit', value='Submit')

      nav(ng-controller='AppCtrl')
        a.h5.bg-red.lg1.p1.block(href='#') History 
          svg(width='12', height='12', viewbox='0 0 32 32', fill='#f5f5f5')
            path(d='M4 8 H28 L16 26 z ')
        ul.list-reset.m0
          li
            a.h5.m0.px2.py1.block.bg-blk2-h.gray0.lg1-h(href='view1') First Note View
          li
            a.h5.m0.px2.py1.block.bg-blk2-h.gray0.lg1-h(href='view2') Second Note View
        a.h5.blue.bg-blue-h.lg1-h.p1.block(href='#') Biology 
          svg(width='12', height='12', viewbox='0 0 32 32', fill='#f5f5f5')
            path(d='M4 8 H28 L16 26 z ')

  //- Main View
  div(ng-controller='AppCtrl')
    main.col.col-9.h100
      div.bg-blk0
        h5.m0.py1.regular.center.lg1 Note Title
      ul.menu.list-reset
        li.inline-block
          a.h6.px2.py1.bg-blk1.bg-blk2-h.gray0.lg1-h(href='view1') First Note View
        li.inline-block
          a.h6.px2.py1.bg-blk1.bg-blk2-h.gray0.lg1-h(href='view2') Second Note View

      div.container(ng-view)

      div
        | Angular seed app: v
        span(app-version)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')