div.ml2.mr2.fade-in
  h4.right.h4(contenteditable='true', spellcheck='true', data-ph='Folder', ng-model='folder')
  h2.h2(contenteditable='true', spellcheck='true', data-ph='Title', ng-model='title')
  h4.h4(contenteditable='true', spellcheck='true', data-ph='Subtitle', ng-model='subtitle')
  p(contenteditable='true', spellcheck='true', data-ph='Start writing...', ng-model='content')