p This is the partial for view 2.
p
  | Showing of 'interpolate' filter:
  | {{ 'Current version is v%VERSION%.' | interpolate }}

div(ng-controller='ApiTest')
  ul
    li(ng-repeat='person in people')
      p First name: {{person.firstName}}
      p Last name: {{person.lastName}}
      p Coolness Factor {{person.coolnessFactor}}